/* Credits : https://www.untitledui.com/components/color-styles */

:root {
/* Color styles */
--white: hsla(0, 0%, 100%, 1);
--black: hsla(0, 0%, 0%, 1);
--gray--25: hsla(240, 20%, 99%, 1);
--gray--50: hsla(210, 20%, 98%, 1);
--gray--100: hsla(216, 23.8%, 95.9%, 1);
--gray--200: hsla(220, 16.7%, 92.9%, 1);
--gray--300: hsla(217, 16%, 84.1%, 1);
--gray--400: hsla(218, 15.1%, 64.9%, 1);
--gray--500: hsla(221, 13.2%, 46.1%, 1);
--gray--600: hsla(216, 18.4%, 34.1%, 1);
--gray--700: hsla(218, 23.5%, 26.7%, 1);
--gray--800: hsla(214, 32.6%, 16.9%, 1);
--gray--900: hsla(220, 42.9%, 11%, 1);
--brand--25: hsla(264, 100%, 99%, 1);
--brand--50: hsla(264, 100%, 98%, 1);
--brand--100: hsla(267, 100%, 96.1%, 1);
--brand--200: hsla(268, 95.1%, 92%, 1);
--brand--300: hsla(265, 88.9%, 85.9%, 1);
--brand--400: hsla(262, 84.7%, 76.9%, 1);
--brand--500: hsla(260, 76.6%, 69.8%, 1);
--brand--600: hsla(259, 63.3%, 59.4%, 1);
--brand--700: hsla(258, 53.8%, 51.6%, 1);
--brand--800: hsla(256, 47.7%, 42%, 1);
--brand--900: hsla(254, 44.5%, 33.9%, 1);
--error--25: hsla(12, 100%, 99%, 1);
--error--50: hsla(5, 85.7%, 97.3%, 1);
--error--100: hsla(4, 93.3%, 94.1%, 1);
--error--200: hsla(3, 96.3%, 89.4%, 1);
--error--300: hsla(4, 96.1%, 80%, 1);
--error--400: hsla(4, 92.5%, 68.8%, 1);
--error--500: hsla(4, 86%, 58%, 1);
--error--600: hsla(4, 74.3%, 48.8%, 1);
--error--700: hsla(4, 76.5%, 40%, 1);
--error--800: hsla(4, 71.6%, 33.1%, 1);
--error--900: hsla(8, 64.9%, 29%, 1);
--warning--25: hsla(42, 100%, 98%, 1);
--warning--50: hsla(45, 100%, 96.1%, 1);
--warning--100: hsla(45, 96.5%, 88.8%, 1);
--warning--200: hsla(44, 98.3%, 76.7%, 1);
--warning--300: hsla(42, 98.9%, 64.5%, 1);
--warning--400: hsla(39, 98.2%, 56.3%, 1);
--warning--500: hsla(34, 93.7%, 50.2%, 1);
--warning--600: hsla(28, 97.3%, 43.7%, 1);
--warning--700: hsla(22, 91.5%, 37.1%, 1);
--warning--800: hsla(19, 83.7%, 31.4%, 1);
--warning--900: hsla(18, 79.4%, 26.7%, 1);
--success--25: hsla(142, 80%, 98%, 1);
--success--50: hsla(145, 81%, 95.9%, 1);
--success--100: hsla(140, 80.4%, 90%, 1);
--success--200: hsla(144, 78%, 80.4%, 1);
--success--300: hsla(148, 74%, 66.9%, 1);
--success--400: hsla(150, 66%, 51.6%, 1);
--success--500: hsla(152, 82.1%, 39.4%, 1);
--success--600: hsla(153, 96.1%, 30.4%, 1);
--success--700: hsla(155, 96.8%, 24.3%, 1);
--success--800: hsla(155, 90.1%, 19.8%, 1);
--success--900: hsla(156, 88.1%, 16.5%, 1);
--indigo--25: hsla(222, 100%, 98%, 1);
--indigo--50: hsla(219, 100%, 96.7%, 1);
--indigo--100: hsla(221, 100%, 93.9%, 1);
--indigo--200: hsla(223, 96.5%, 88.8%, 1);
--indigo--300: hsla(224, 95.7%, 81.8%, 1);
--indigo--400: hsla(228, 91%, 73.9%, 1);
--indigo--500: hsla(233, 85.9%, 66.7%, 1);
--indigo--600: hsla(237, 77.3%, 58.6%, 1);
--indigo--700: hsla(239, 60.3%, 50.6%, 1);
--indigo--800: hsla(238, 57.3%, 41.4%, 1);
--indigo--900: hsla(236, 48.6%, 34.3%, 1);
--purple--25: hsla(240, 100%, 99%, 1);
--purple--50: hsla(245, 100%, 97.6%, 1);
--purple--100: hsla(246, 91.3%, 95.5%, 1);
--purple--200: hsla(244, 95.2%, 91.8%, 1);
--purple--300: hsla(247, 97.4%, 85.1%, 1);
--purple--400: hsla(249, 93.4%, 76.3%, 1);
--purple--500: hsla(252, 91.9%, 66.3%, 1);
--purple--600: hsla(256, 85.1%, 57.8%, 1);
--purple--700: hsla(257, 72.3%, 50.4%, 1);
--purple--800: hsla(257, 71.2%, 42.2%, 1);
--purple--900: hsla(257, 68.5%, 34.9%, 1);
--pink--25: hsla(323, 80%, 98%, 1);
--pink--50: hsla(316, 73.3%, 97.1%, 1);
--pink--100: hsla(317, 77.8%, 94.7%, 1);
--pink--200: hsla(318, 88.5%, 89.8%, 1);
--pink--300: hsla(319, 89.2%, 81.8%, 1);
--pink--400: hsla(321, 88.2%, 70.2%, 1);
--pink--500: hsla(318, 83.2%, 60.4%, 1);
--pink--600: hsla(325, 73%, 50.6%, 1);
--pink--700: hsla(327, 80.4%, 42%, 1);
--pink--800: hsla(328, 75.6%, 35.3%, 1);
--pink--900: hsla(328, 71.6%, 30.4%, 1);
--rose--25: hsla(354, 100%, 98%, 1);
--rose--50: hsla(351, 100%, 97.3%, 1);
--rose--100: hsla(351, 100%, 94.7%, 1);
--rose--200: hsla(349, 96.1%, 90%, 1);
--rose--300: hsla(349, 97.8%, 81.8%, 1);
--rose--400: hsla(347, 97.3%, 71.4%, 1);
--rose--500: hsla(346, 91.1%, 60.2%, 1);
--rose--600: hsla(343, 78.7%, 49.8%, 1);
--rose--700: hsla(341, 84.6%, 40.8%, 1);
--rose--800: hsla(339, 81.9%, 34.7%, 1);
--rose--900: hsla(338, 76.8%, 30.4%, 1);

/* Text-size styles */
--display-2xl: 72px;
--display-xl: 60px;
--display-lg: 48px;
--display-md: 36px;
--display-sm: 30px;
--display-xs: 24px;
--text-xl: 20px;
--text-lg: 18px;
--text-md: 16px;
--text-sm: 14px;
--text-xs: 12px;

/* Effect styles */
--focus-ring--4px-primary-100:  0px 0px 0px rgba(244, 235, 255, 1);
--focus-ring--4px-gray-100:  0px 0px 0px rgba(242, 244, 247, 1);
--focus-ring--4px-error-100:  0px 0px 0px rgba(254, 228, 226, 1);
--focus-ring--4px-gray-600:  0px 0px 0px rgba(71, 84, 103, 1);
--focus-ring----4px-primary-600:  0px 0px 0px rgba(127, 86, 217, 1);
--shadow--xs:  0px 1px 2px rgba(16, 24, 40, 0.05);
--shadow--xs-focused-4px-primary-100:  0px 0px 0px rgba(244, 235, 255, 1), 0px 1px 2px rgba(16, 24, 40, 0.05);
--shadow--xs-focused-4px-gray-100:  0px 0px 0px rgba(242, 244, 247, 1), 0px 1px 2px rgba(16, 24, 40, 0.05);
--shadow--xs-focused-4px-error-100:  0px 0px 0px rgba(254, 228, 226, 1), 0px 1px 2px rgba(16, 24, 40, 0.05);
--shadow--sm:  0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
--shadow--sm-focused-4px-primary-100:  0px 0px 0px rgba(244, 235, 255, 1), 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
--shadow--sm-focused-4px-gray-100:  0px 0px 0px rgba(242, 244, 247, 1), 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
--shadow--md:  0px 2px 4px rgba(16, 24, 40, 0.06), 0px 4px 8px rgba(16, 24, 40, 0.1);
--shadow--lg:  0px 4px 6px rgba(16, 24, 40, 0.03), 0px 12px 16px rgba(16, 24, 40, 0.08);
--shadow--xl:  0px 8px 8px rgba(16, 24, 40, 0.03), 0px 20px 24px rgba(16, 24, 40, 0.08);
--shadow--2xl:  0px 24px 48px rgba(16, 24, 40, 0.18);
--shadow--3xl:  0px 32px 64px rgba(16, 24, 40, 0.14);
}